@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: yellow;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: gold;
}

#column-2 {
  background: orange;
}

#column-3 {
  background: brown;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: blue;
  }

  #column-1 {
    background-color:blueviolet ;
  }

  #column-2 {
    background-color: indigo;
  }

  #column-3 {
    background-color: purple;
  }

  footer {
    background-color: black;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:green ;
  }

  #column-1 {
    background-color: lightseagreen;
  }

  #column-2 {
    background-color: lightgreen;
  }

  #column-3 {
    background-color: olivedrab;
  }

  footer {
    background-color: grey;
  }
   
}
